/* Общие стили */
div#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p#error-code {
    font-weight: bold;
    font-size: 2em;
}

p#about {
    font-size: 1.7em;
}

img#error_image {
    width: 200px;
    height: 200px;
}