{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/api.css') }}">

    <div id="main">
        <p id="text">
            <b>Just use it (python example):</b><br>
        <div id="code_panel">
            <p id="code">
                import requests<br>
                url = 'something.com'<br>
                short_url = requests.get('http://{{ address }}/api', params={'url': url}).content
            </p>
        </div>
        </p>

    </div>

    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
{% endblock %}